@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* || CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --FF: "Open Sans", Sans-serif;
  --BOX-COLOR: #e63946;
  --LINKS: #780000;
  --TEXT: #fdf0d5;
  --SECTION-COLOR: #003049;
  --BG-COLOR: #669bbc;
}
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--BG-COLOR);
  padding: 1rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--TEXT);
  font-size: 1rem;
  font-family: var(--FF);
}
main {
  flex-grow: 1;
  width: calc(70%-5px);
}
aside {
  width: calc(30%-5px);
  padding: 0rem 2rem;
  line-height: 25px;
  color: black;
}
a:any-link {
  color: black;
  text-decoration: none;
}
ol li {
  padding-left: 0.8rem;
}
section {
  background-color: var(--SECTION-COLOR);
  min-height: 30vh;
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
h2 {
  background-color: var(--SECTION-COLOR);
  padding-left: 1rem;
}
/* || FIGURES AND SHAPES */
@keyframes shape-change {
  from {
    border-radius: 0%;
  }
  to {
    border-radius: 50%;
  }
}
.square {
  height: 100px;
  width: 100px;
  background-color: var(--BOX-COLOR);
  display: grid;
  place-content: center;
  color: var(--TEXT);
  font-family: var(--FF);
  font-size: 1rem;
  font-weight: bold;

  animation-name: shape-change;
  animation-duration: 2s;
}
@keyframes to-circle {
  0% {
    border-radius: 0%;
  }
  25% {
    border-top-left-radius: 50%;
  }
  50% {
    border-top-right-radius: 50%;
  }
  75% {
    border-bottom-right-radius: 50%;
  }
  100% {
    border-bottom-left-radius: 50%;
  }
}
.to-circle {
  animation-name: to-circle;
  animation-duration: 8s;
}
