@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* || CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --BOX-PADDING: 1rem;
  --BOX-BORDER: 5px solid #0000008e;
  --FF: "Open Sans", Sans-serif;
  --BOX-COLOR: hsla(11, 24%, 72%, 0.5);
  --BOX-COLOR-LIGHT: hsl(11, 24%, 90%);
  --LINKS: #c9ada7;
  --OUTLINE: #c9ada7;
  --UNIMP-TEXT: #9a8c98;
  --PLACEHOLDER: #9a8c98;
  --TEXT: #f2e9e4;
  --BG-COLOR: #22223b;
  --SECTION-COLOR: #4a4e69;
  --TAP: hsla(0, 0%, 70%, 0.2);
}
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  padding: 1rem;
  color: var(--TEXT);
  background-color: var(--BG-COLOR);
}
a:any-link {
  color: var(--LINKS);
  text-decoration: none;
}
ol,
ol li {
  padding-left: 1rem;
}
aside {
  background-color: var(--SECTION-COLOR);
  padding: var(--BOX-PADDING);
}
section {
  background-color: var(--SECTION-COLOR);
  padding: var(--BOX-PADDING);
  display: grid;
  align-items: start;
  justify-items: center;
  min-height: 80vh;
  position: relative;
  margin: 0.5em 0rem;
}
h3 {
  justify-self: start;
}
.square {
  height: 200px;
  width: 200px;
  padding: var(--BOX-PADDING);
  margin: 1rem;
  font-family: var(--FF);
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: var(--BOX-COLOR);
  border: var(--BOX-BORDER);

  display: grid;
  place-content: center;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.original {
  color: var(--UNIMP-TEXT);
  border: 5px dashed var(--OUTLINE);
  background-color: var(--BOX-COLOR-LIGHT);
}
/* || TRANSLATE METHODS */
.translateX-R {
  transform: translateX(350px);
}
.translateX-L {
  transform: translateX(-250px);
}
.translateX-70per {
  transform: translateX(70%);
}
.translateY-U {
  transform: translateY(-120px);
}
.translateY-D {
  transform: translateY(120px);
}
.translate {
  transform: translate(100px, 50px);
}

/* || ROTATE METHODS */
