@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* || CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --BOX-PADDING: 1rem;
  --BOX-BORDER: 2px solid black;
  --FF: "Open Sans", Sans-serif;
  --BOX-COLOR: hsla(11, 24%, 72%, 0.5);
  --BOX-COLOR-LIGHT: hsl(11, 24%, 90%);
  --LINKS: #c9ada7;
  --OUTLINE: #c9ada7;
  --UNIMP-TEXT: #9a8c98;
  --PLACEHOLDER: #9a8c98;
  --TEXT: #f2e9e4;
  --BG-COLOR: #22223b;
  --SECTION-COLOR: #4a4e69;
  --TAP: hsla(0, 0%, 70%, 0.2);
}
/* || GENERAL STYLES */
body {
  padding: 1rem;
  color: var(--TEXT);
  background-color: var(--BG-COLOR);
}
ol,
ol li {
  padding-left: 1rem;
}
section {
  border: var(--BOX-BORDER);
  background-color: var(--SECTION-COLOR);
  padding: var(--BOX-PADDING);
  display: grid;
  place-items: center;
}
h3 {
  justify-self: start;
}
.square {
  height: 200px;
  width: 200px;
  border: var(--BOX-BORDER);
  padding: var(--BOX-PADDING);
  font-family: var(--FF);
  font-size: 1rem;
  background-color: var(--BOX-COLOR);
  color: var(--BG-COLOR);
  display: grid;
  place-content: center;
  margin: 1rem;
  position: absolute;
  bottom: auto;
  z-index: 1;
}
.original {
  border: 5px dashed var(--OUTLINE);
  background-color: var(--BOX-COLOR-LIGHT);
  position: relative;
}
/* || translate methods */
.translateX-R {
  transform: translateX(250px);
}
.translateX-L {
  transform: translateX(-250px);
}
.translateX-100per {
  transform: translateX(50%);
}
