@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* || CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --FF: "Open Sans", Sans-serif;
  --BOX-COLOR: #e63946;
  --LINKS: #780000;
  --TEXT: #fdf0d5;
  --SECTION-COLOR: #669bbc;
  --BG-COLOR: #003049;
}
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  border: 1px solid white;
  background-color: var(--BG-COLOR);
  padding: 1rem 0rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--TEXT);
}
main {
  flex-grow: 1;
  border: 1px solid white;
  width: calc(70%-5px);
}
aside {
  border: 1px solid white;
  width: calc(30%-5px);
}
